:root {
    --map-ui-height: 80vh;
    --map-ui-height-unit: calc(var(--map-ui-height)/170)
}

body {
    margin: 0;
    display: grid;
    place-items: center;
    background: #121212;
    height: 100vh;
}

#map-ui {
    image-rendering: pixelated;
    background: url("../assets/gruvriket_karta_ui.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    height: var(--map-ui-height);
    width: calc(calc(223/170)*var(--map-ui-height));
    display: flex;
    flex-direction: column;
}

#map-container {
  /*margin: calc(calc(var(--map-ui-height)/170)*20) calc(calc(var(--map-ui-height)/223)*31);*/
  margin-top: calc(20 * var(--map-ui-height-unit));
  margin-left: calc(31 * var(--map-ui-height-unit));
  margin-right: calc(29 * var(--map-ui-height-unit));
  margin-bottom: calc(39 * var(--map-ui-height-unit));
  height: 100%;
  position: relative;
  overflow: hidden;
}

#mapCanvas {
    display: block;
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
    user-select: none;
}

#marker-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    overflow: hidden;
}

.marker {
    position: absolute;
    width: 0;
    height: 0;
}

.marker-body {
    position: relative;
    translate: -50% calc(-100% + var(--unit));
    translate: -50% -100%;

    --width: 45;
    --width-px: calc(var(--width) * 1px);
    --unit: calc(calc(var(--width) / 15) * 1px);

    width: fit-content;
    height: fit-content;

    &>img{
        image-rendering: pixelated;
        &.marker-img {
            display: block;
            width: var(--width-px);
        }
        &.marker-icon {
            position: absolute;
            width: calc(9 * var(--unit));
            aspect-ratio: 1;
            translate: calc(var(--unit) * 3) calc(var(--unit) * -16);
        }
    }
}

.hidden {
    visibility: hidden;
}

#testButton {
    --size: 60px;
    --border-width: 3px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background: linear-gradient(-45deg, #b23331 50%, #c85537 0);

    .border {
        width: 100%;
        height: 100%;
        border-radius: inherit;
        background: linear-gradient(-45deg, #cead53 50%, #f3efc2 0);
        --stop1: calc(calc(var(--size)/2) - calc( * var(--border-width)));
        --stop2: calc(calc(var(--size)/2) -         var(--border-width));
        mask-image: radial-gradient(circle, transparent var(--stop1), black var(--stop1) var(--stop2), transparent 0);
    }
}